<button id="download-btn" (click)="makePdf()">Download</button>

<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Name:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.name"
        name="version"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Description:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.description"
        name="type"
        required
      />
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary" class="submit-button">
    Submit
  </button>
</form>

<table #content class="table-container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="delete(item.id)"
          class="action-button"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
