.container {
  display: flex;
  height: 100vh;
}

.sidenav-container {
  width: 300px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidenav {
  padding: 20px;
}

.sidebar-button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 12px 20px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}


.sidebar-button:hover {
  background-color: #e0e0e0;
}

.sidebar-button mat-icon {
  margin-right: 10px;
}

.sidebar-button span {
  color: #333;
  font-size: 16px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 200px); /* Adjust width based on sidebar width */
}

.navbar {
  padding: 10px;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #007bff;
}

.mat-toolbar {
  background-color: #2196f3;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-form-field-prefix .mat-icon {
  margin-right: 5px;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.loginBtn {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 10px;
}

.search-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 500px;
}

.search-bar:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-bar::placeholder {
  color: #aaa;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidenav-container {
    width: 100%;
  }

  .navbar-container {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .loginBtn {
    width: auto;
  }
}
