
<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field>
      <mat-label>ID:</mat-label>
      <mat-select [(ngModel)]="formData.projectId" name="id" required>
        <mat-option *ngFor="let item of availableIds" [value]="item.id">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Audit Date:</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="formData.audit"
        name="auditDate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Review By:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.reviewedBy"
        name="createdBy"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Status:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.status"
        name="status"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Review section:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.reviewedSection"
        name="review"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Comment:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.comment"
        name="comment"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Action Item:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.actionItem"
        name="action"
        required
      />
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<div>
  <table class="table-container" #content>
    <thead>
      <tr>
        <th>Audit Date</th>
        <th>Review By</th>
        <th>Status</th>
        <th>Review Section</th>
        <th>Comment</th>
        <th>Action Item</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projects; let i = index">
        <td>{{ item.audit }}</td>
        <td>{{ item.reviewedBy }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.reviewedSection }}</td>
        <td>{{ item.comment }}</td>
        <td>{{ item.actionItem }}</td>
        <td>
          <button
            mat-raised-button
            color="warn"
            (click)="delete(item.id)"
            class="action-button"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
