
<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field>
      <mat-label>ID:</mat-label>
      <mat-select [(ngModel)]="formData.projectId" name="id" required>
        <mat-option *ngFor="let item of availableIds" [value]="item.id">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Feedback Date:</mat-label>
      <input
        matInput
        [matDatepicker]="feedbackDatePicker"
        [(ngModel)]="formData.feedbackDate"
        name="feedbackDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="feedbackDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #feedbackDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Feedback Type:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.feedbackType"
        name="feedbackType"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Action Taken:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.actionTaken"
        name="actionTaken"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Closure Date:</mat-label>
      <input
        matInput
        [matDatepicker]="closureDatePicker"
        [(ngModel)]="formData.closureDate"
        name="closureDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="closureDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #closureDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Details:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.details"
        name="details"
        required
      />
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<table class="table-container" #content>
  <thead>
    <tr>
      <th>Project Id</th>
      <th>Feedback Date</th>
      <th>Feedback Type</th>
      <th>Action Taken</th>
      <th>Closure Date</th>
      <th>Details</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.id }}</td>
      <td>{{ item.feedbackDate }}</td>
      <td>{{ item.feedbackType }}</td>
      <td>{{ item.actionTaken }}</td>
      <td>{{ item.closureDate }}</td>
      <td>{{ item.details }}</td>

      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="delete(item.id)"
          class="action-button"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
