

<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field>
      <mat-label>ID:</mat-label>
      <mat-select [(ngModel)]="formData.projectId" name="id" required>
        <mat-option *ngFor="let item of availableIds" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Phase:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.phase"
        name="phase"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Number of Resources:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.numberOfResources"
        name="numberOfResources"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Role:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.role"
        name="role"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Availability Percentage:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.availabilityPercentage"
        name="availabilityPercentage"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Duration:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.duration"
        name="duration"
        required
      />
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<div>
  <table class="table-container" #content>
    <thead>
      <tr>
        <th>Project Id</th>
        <th>Phase</th>
        <th>Number Of Resources</th>
        <th>Role</th>
        <th>Availability %</th>
        <th>Duration</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projects; let i = index">
        <td>{{ item.id }}</td>
        <td>{{ item.phase }}</td>
        <td>{{ item.numberOfResources }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.availabilityPercentage }}</td>
        <td>{{ item.duration }}</td>
        <td>
          <button mat-icon-button (click)="delete(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="edit(item)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
