<button id="download-btn" (click)="makePdf()">Download</button>

<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field>
      <mat-label>ID:</mat-label>
      <mat-select [(ngModel)]="formData.projectId" name="id" required>
        <mat-option *ngFor="let item of availableIds" [value]="item.id">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Type:</mat-label>
      <mat-select [(ngModel)]="formData.type" name="type" required>
        <mat-option value="1">Fixed Budget</mat-option>
        <mat-option value="2">Man Month</mat-option>
      </mat-select>
     
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Duration In Months:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.durationInMonths"
        name="budget"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Budgeted Hours:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.budgetedHours"
        name="time"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Budgeted cost:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.budgetedCost"
        name="cost"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Currency:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.currency"
        name="currency"
        required
      />
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" class="submit-button">Submit</button>
</form>

<table class="table-container" #content>
  <thead>
    <tr>
      <th>Name</th>
      <th>Project Type</th>
      <th>Duration (In Months)</th>
      <th>Budget Hours</th>
      <th>Budgeted Cost</th>
      <th>Currency</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.id }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.durationInMonths }}</td>
      <td>{{ item.budgetedHours }}</td>
      <td>{{ item.budgetedCost }}</td>
      <td>{{ item.currency }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="delete(item.id)"
          class="action-button"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
