<div class="table-container">
  <!-- First Table -->
  <div class="table-wrapper">
    <table>
      <caption>
        Operational Escalation Matrix
      </caption>
      <tr>
        <th>Escalation Level</th>
        <th></th>
      </tr>
      <tr>
        <td>Level-1</td>
        <td>Project Manager</td>
      </tr>
      <tr>
        <td>Level-2</td>
        <td>Shres Parikh</td>
      </tr>
      <tr>
        <td>Level-3</td>
        <td>Chintan Shah</td>
      </tr>
    </table>
  </div>

  <!-- Second Table -->
  <div class="table-wrapper">
    <table>
      <caption>
        Financial Escalation Matrix
      </caption>
      <tr>
        <th>Escalation Level</th>
        <th></th>
      </tr>
      <tr>
        <td>Level-1</td>
        <td>Awnindra Kumar</td>
      </tr>
      <tr>
        <td>Level-2</td>
        <td>Shres Parikh</td>
      </tr>
      <tr>
        <td>Level-3</td>
        <td>Chintan Shah</td>
      </tr>
      <!-- Table 2 content -->
    </table>
  </div>

  <!-- Third Table -->
  <div class="table-wrapper">
    <table>
      <caption>
        Technical Escalation Matrix
      </caption>
      <tr>
        <th>Escalation Level</th>
        <th></th>
      </tr>
      <tr>
        <td>Level-1</td>
        <td>Project Manager</td>
      </tr>
      <tr>
        <td>Level-2</td>
        <td>Solution Architect</td>
      </tr>
      <tr>
        <td>Level-3</td>
        <td>Rushi Soni</td>
      </tr>
      <tr>
        <td>Level-4</td>
        <td>Chintan Shah</td>
      </tr>
      <!-- Table 3 content -->
    </table>
  </div>
</div>
