<button id="download-btn" (click)="makePdf()">Download</button>

<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>ID:</mat-label>
      <mat-select [(ngModel)]="formData.phaseMilestoneId" name="phaseMilestoneId" required>
        <mat-option *ngFor="let item of availableIds" [value]="item.id">{{
          item.id
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        [(ngModel)]="formData.startDate"
        name="startDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        [(ngModel)]="formData.endDate"
        name="endDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Status:</mat-label>
      <mat-select [(ngModel)]="formData.status" required>
        <mat-option value="1">In Progress</mat-option>
        <mat-option value="2">Completed</mat-option>
        <mat-option value="3"> Delayed</mat-option>
        <mat-option value="4">On Track</mat-option>
        <mat-option value="5">Sign Off Pending</mat-option>
      </mat-select>

    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Comments:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.comments"
        name="comments"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Goals:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.goals"
        name="goals"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Sprint Number:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.sprintNumber"
        name="sprintNumber"
        required
      />
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<table #content class="table-container">
  <thead>
    <tr>
      <th>Phase Milestone Id</th>
      <th>Start Date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Comments</th>
      <th>Goals</th>
      <th>Sprint Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.phaseMilestoneId }}</td>
      <td>{{ item.startDate }}</td>
      <td>{{ item.endDate }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.comments }}</td>
      <td>{{ item.goals }}</td>
      <td>{{ item.sprintNumber }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="delete(item.id)"
          class="action-button"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
